import /vendor/etc/init/hw/init.${ro.product.device}.rc

service vendor.xiaomi_script /vendor/bin/init.xiaomi.sh
    class main
    user root
    oneshot

on property:dev.bootcomplete=1
    restart ril-daemon

on charger
    write /sys/class/leds/red/brightness 200
